#disqus_proxy_thread {
  .post {
    padding: 0 10px;
    .avatar {
      display: inline-block;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 1px 1px 3px 0.5px #ccc;
      }
    }
    .post-body {
      margin: -60px 0 0 60px;

      .comment-header {
        span {
          display: inline-block;
          margin-right: 10px;
          &.comment-time {
            color: #bbb;
            font-size: 12px;
            font-family: 'calligraffittiregular', sans-serif;
          }
          &.comment-author, &.comment-reply-to {
            color: #888;
            font-size: 14px;
          }
          &.comment-primary {
            box-sizing: border-box;
            line-height: 16px;
            font-size: 12px;
            background-color: #aaa;
            color: white;
            padding: 0 3px;
            border-radius: 4px;
          }
          > i {
            color: #42b983;
            display: inline-block;
            margin-right: 10px;
          }
        }

      }
      .comment-body {
        font-size: 14px;
        color: #34495e;
        a {
          color: #42b983;
          text-decoration: none;
        }
      }
    }
    ul.post-reply {
      padding-top: 12px;
      margin-left: 20px;
      border-radius: 10px;
    }
  }
}

