#disqus_proxy_thread {
  %btn {
    transition: all 0.4s;
    color: white;
    background-color: #42b983;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: #42b983;
    }
  }

  .comment-box {
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    .comment-info {
      height: 110px;
      position: relative;
      .avatar {
        position: absolute;
        padding-top: 6px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 1px 1px 3px 0.5px #ccc;
        }
      }
      textarea {
        position: absolute;
        top: 0;
        left: 70px;
        width: calc(100% - 70px);
        height: 100px;
        box-sizing: border-box;
        font-size: 16px;
        letter-spacing: 0.7px;
        padding: 12px;
        color: #555;
        background-color: #f8f8f8;
        outline: none;
        border: none;
        resize: none;
        border-radius: 8px;
        overflow: auto;
        box-shadow: 1px 1px 2px -1px #aaa;
        &:focus {
          box-shadow: inset 1px 1px 2px -1px #aaa;
        }
        &.error {
          border: 1px solid #ff7500;
        }
      }
    }

    .comment-button {
      @extend %btn;
      font-size: 14px;
      margin-left: calc(100% - 46px);
      padding: 2px 16px;
      border-radius: 4px;
    }

    .comment-meta {
      margin-left: calc(100% - 220px);
      transition: all 0.5s;
      color: #666;
      height: 0;
      overflow: hidden;
      &.show-comment-meta {
        height: 120px;
      }

      label {
        box-sizing: border-box;
        display: block;
        width: 220px;
        margin: 10px 0;
        span {
          display: inline-block;
          width: 60px;
          font-size: 12px;
        }
        input {
          padding: 0 10px;
          box-sizing: border-box;
          height: 22px;
          width: 160px;
          outline: none;
          border-radius: 4px;
          border: 1px solid #ccc;
          &.error {
            border: 1px solid #ff7500;
          }
          &:focus {
            border: 1px solid #42b983;
          }
        }
      }
      button {
        @extend %btn;
        margin-left: calc(100% - 46px);
        outline: none;
        border-radius: 4px;
        height: 24px;
        width: 46px;
        border: none;
      }
    }
  }

}


