#disqus_proxy_thread .notification {
  box-sizing: border-box;
  transition: all 0.5s;
  position: absolute;
  padding: 16px;
  border-radius: 6px;
  right: -100%;
  min-width: 140px;
  top: 22px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  &.show {
    right: 40px;
  }
  .notification-title {
    margin-bottom: 6px;
    font-size: 14px;
    color: rgba(0, 0, 0, .85);
  }
  .notification-body {
    font-size: 12px;
    color: rgba(0, 0, 0, .65);
  }
}
