#disqus_proxy_thread {
  padding-top: 30px;
  .disqus-statement {
    font-size: 12px;
    padding-left: 92px;
    color: rgba(0, 0, 0, 0.6);
    a {
      text-decoration: none;
      color: #42b983;
    }
  }

  .disqus-proxy {

    width: 100%;
    ul, li {
      list-style: none;
    }

    ul {
      margin-left: 56px;
      padding: 0;
    }
  }

  @media screen and (max-width: 500px) {
    .disqus-proxy {

      ul, ul.post-reply {
        margin-left: 10px;
      }
    }
  }
}
